<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddBtnClick(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" ngModel required #userName="ngModel">
                    <p *ngIf="!userName.valid&&userName.touched">Please Enter a Name</p>
                </div>

                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" name="amount" ngModel required
                        #userAmount="ngModel" [pattern]="'^[1-9]+[0-9]*$'">
                    <p class="help-blocked" *ngIf="!userAmount.valid&&userAmount.touched">Amount Required</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-success" type="submit"
                                [disabled]="!f.valid">{{editMode?'Update':'Add'}}</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button class="btn btn-danger" *ngIf="editMode" (click)="onDelete()" type="button">Delete</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button class="btn btn-secondary" (click)="onClear()" type="button">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>